{% extends 'base.html' %}

{% block content %}
    <div class="container">

    <!-- {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endif %} -->

    <h1>ExchangeRate</h1>
        <br/>
        <form action="/excrate" METHOD="POST">
            <br/>
            <input type="number" placeholder="Enter Number" name="amount" required>
            <br/>
            <br/>
            <br/>
           <input type="text" placeholder="From Currency" name="from_curr" required >
            <br/>
            <br/>
            <input type="text"  placeholder="To Currency" name="to_curr" required >
            <br/>
            <br/>
            <input type="submit" value="Submit" class="btn btn-secondary" />
            <input type="reset"  value="RESET" style="color: red;" class="btn btn-secondary"/>
            </form>
        <br/>
        <br/>
        <mark>
            The conversion  for {{ amount }} {{ from_curr }} in {{ to_curr }} is : {{ result }}
        </mark>
        </div>
  {% endblock %}