{% extends 'pricing.html' %}

{% block content %}
    <div class="container">

    {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endif %}


    <h1>Pricing</h1>
        <br/>
        <form action="/form" METHOD="POST">
           <input type="text" placeholder="Choose an item" name="item" required >
          <!--  <input type="number" placeholder="Enter ID" name="id" required  > -->
            <input type="number"  placeholder="Qty" name="qty" max="100" min="1"   required >
            <input type="text"  placeholder="Enter Currency" name="currency" required  >
            <br/>
            <br/>
            <input type="submit" value="Submit" class="btn btn-secondary" />
            <input type="reset"  value="RESET" style="color: red;" class="btn btn-secondary"/>
        </form>
        <br/>

        {% if not error_statement %}


            {% if  currency  == 'EUR'  %}
            <mark>
                The total price for {{ qty }} {{ input_item }} in EUR : {{ tot_price }} </mark>
            {% else %}
        <mark> The total price for {{ qty }} {{ input_item }} in {{ currency }} : {{ exc_amount }} </mark>
            {% endif %}

        {% endif %}


        </div>
  {% endblock %}